.news-title {
  font-size: 32px; /* タイトル大きく */
  font-weight: bold;
  color: white;
}

.news-description {
  font-size: 24px; /* 本文小さめ */
  color: #ddd;
}

.news-item hr {
  border: 0;
  border-top: 2px solid #fff;
  margin: 5px 0;
}
