html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-family: 'Kosugi Maru', sans-serif;
  color: white;
  overflow: hidden;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-panel {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 30px 50px;
  box-sizing: border-box;
}

.left-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

/* 天気 */
#weather {
  display: flex;
  align-items: center;
  font-size: 26px;
}

#weather-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#date {
  font-size: 26px;
}

/* Tick 時計 */
.tick {
  font-size: 1rem;
  white-space: nowrap;
}

.tick,
.tick * {
  font-family: 'Kosugi Maru', sans-serif;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

.tick-char { width: 2.55em; }

.tick-flip, .tick-text-inline { font-size: 3.2em; }

.tick-flip {
  font-weight: 900;
  color: #fff;
  border-radius: 0.12em;
}

.tick-text-inline {
  opacity: 0.8;
  margin: 0 -0.05em;
}

.tick-flip-panel {
  background-color: #3c3e3c;
  color: #fff;
}

.clock-container {
  margin-top: 60px;
  transform: scaleY(1.7);
  transform-origin: left center;
}

/* ニュース */
#right-panel {
  width: 45%;
  background: url('news-bg.png') center / 80% 63% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#news-card {
  width: 80%;
  height: 63%;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
