html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

/* 全体 */
#container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* 左側 */
#left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  box-sizing: border-box;
}

/* 日付・天気 */
#date {
  font-size: 28px;
  margin-top: 10px;
  text-align: right;
}

#weather {
  font-size: 28px;
  margin-top: 10px;
}

/* Tick 時計 */
.tick {
  font-size: 1rem;
  white-space: nowrap;
}

.tick-flip,
.tick-text-inline {
  font-size: 3.2em;
}

.tick-text-inline {
  color: #fff;
}

.tick-flip-panel {
  background-color: #3c3e3c;
  color: #fff;
}

.tick-flip {
  border-radius: 0.12em;
}


/* 右側ニュース */
#right-panel {
  width: 50%;
  background: url('news-bg.png') center / 80% 63% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#news-card {
  width: 80%;
  height: 63%;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

/* ニュース */
.news-item {
  position: absolute;
  inset: 20px;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.news-item.show {
  opacity: 1;
}

.news-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.news-pubdate {
  font-size: 14px;
  color: #ccc;
  text-align: right;
}

.news-description {
  font-size: 20px;
  margin-top: 5px;
}




