body {
margin: 0;
background: black;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.clock {
display: flex;
align-items: center;
}


.colon {
font-size: 200px;
color: white;
margin: 0 20px;
}


.digit {
position: relative;
width: 180px;
height: 260px;
perspective: 1000px;
}


.upper, .lower {
position: absolute;
width: 100%;
height: 50%;
overflow: hidden;
background: #3c3e3c;
display: flex;
justify-content: center;
}


.upper {
top: 0;
align-items: flex-end;
border-bottom: 1px solid #000;
}


.lower {
bottom: 0;
align-items: flex-start;
}


.upper span,
.lower span {
font-size: 220px;
line-height: 1;
color: white;
}


.digit.flip .upper {
animation: flipUp 0.4s ease-in forwards;
}


.digit.flip .lower {
animation: flipDown 0.4s ease-out forwards;
}


@keyframes flipUp {
to { transform: rotateX(-90deg); }
}


@keyframes flipDown {
from { transform: rotateX(90deg); }
to { transform: rotateX(0deg); }
}
